* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  /* font-size: 6.9444vw; */
  font-size: 100px;
}
body {
  font-size: 0.19rem;
  background-color: white;
}

.container {
  padding: 0.4rem;
  width: 100%;
  /*  height: 11.5rem; */
  /*  margin: 0.6rem auto; */
  background-color: white;
}
/* START INFORMATION PART */
.header {
  /*  background-color: rgba(0, 0, 0, 0.5); */
}
.header img {
  width: 1.6rem;
}
.img {
  width: 1.6rem;
  height: 1.6rem;
  background-color: brown;

  overflow: hidden;
  border-radius: 0.8rem;
}

.info-top-left {
  display: flex;
  gap: 0.25rem;
}
.info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}
.info-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.12rem;
}
.info-top-left .text h3 {
  font-weight: 400;
  color: rgb(99, 170, 179);
}
.info-top-left .text {
  margin-top: 0.2rem;
}
.info-bottom {
  line-height: 0.3rem;
}
/* END INFORMATION PART */

/* START SKILLS PART */
.icon {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.05rem;
  color: aliceblue;
  background-color: rgb(90, 142, 151);
  text-align: center;
  line-height: 0.3rem;
  float: left;
  margin-right: 0.2rem;
}
.skill {
  margin-top: 0.1rem;
}
hr {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
  height: 0.03rem;
  border: none;
  border-top: 0.02rem solid rgb(90, 142, 151);
}
.skill .small-ul li {
  margin: 0 0.3rem 0.3rem 0;
  position: relative;
}
.skill .big-ul {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  margin-bottom: 0.2rem;
}
.skill .small-ul {
  width: 100%;
}
.skill li::before,
.skill li::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(90, 142, 151, 0.2);
  position: absolute;
  bottom: -0.18rem;
  border-radius: 0.05rem;
}
.skill li::after {
  background-image: linear-gradient(
    90deg,
    rgb(73 170 184),
    rgb(98, 196, 182),
    rgb(130 234 219)
  );
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
/* Animate each skill */
.js::after {
  animation-name: js;
}

.css::after {
  animation-name: css;
}

.html::after {
  animation-name: html;
}

.ps::after {
  animation-name: ps;
}

.jq::after {
  animation-name: jq;
}

@keyframes js {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

@keyframes html {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes ps {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@keyframes jq {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}
/* END SKILLS PART */

/* START PROJECTS PART */
.experience > ul > li::before {
  content: "\2022";
  color: rgb(90, 142, 151);
  font-size: 0.16rem;
  margin-right: 0.1rem;
}

.experience > ul {
  margin: 0.1rem 0;
}

.experience > ul > li {
  margin-top: 0.1rem;
}

.small-title {
  margin-top: 0.3rem;
  font-size: 0.18rem;
}
.experience ul ul li {
  /*   line-height: 30px; */
  text-indent: 1em;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(106, 210, 195);
}
/* END PROJECTS PART */

/* START EXPERIENCE,EDUCATION PART */
.education {
  margin-top: 0.3rem;

  width: 47%;
}
.duration {
  font-style: italic;
  font-size: 0.14rem;
  color: rgb(90, 142, 151);
  margin-bottom: 0.2rem;
}
.past {
  display: flex;
  justify-content: space-between;
}
.education .school {
  margin-top: 40px;
}
/* END EDUCATION PART */

/* Responsive layout when screen size is less than 800px */
@media screen and (max-width: 885px) {
  .info-top-left {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .info-top {
    flex-direction: column;
    gap: 0.1rem;
  }
  html {
    font-size: 20vw;
  }
  .container {
    padding: 0.1rem;
  }
  .info-top-left .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill .big-ul {
    flex-direction: column;
  }
  .container {
    width: 90%;
    margin: 0.2rem auto;
  }
  /* last 2 parts */
  .education {
    width: 100%;
  }

  .past {
    width: 100%;
    flex-direction: column;
  }
  .education .school {
    margin-top: 40px;
  }
}
